<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<!-- <param name="File" value="lifecyle.log" /> -->
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p [%t] %c (%F:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="aplicacion" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="log/aplicacion.log" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p [%t] %c (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="cuentas" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/cuentas.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
<!--		<param name="MaxFileSize" value="1024KB" />-->
<!--		<param name="MaxBackupIndex" value="2" />-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p [%t] %c (%F:%L) - %m%n" />
		</layout>
	</appender>


	<logger name="cuentasLogger">
		<level value="INFO"/>
		<appender-ref ref="cuentas" />
	</logger>


	<logger name="aplicacionLogger">
		<level value="DEBUG"/>
		<appender-ref ref="aplicacion" />
	</logger>
	
<!--	<root>-->
<!--		<level value="OFF" />-->
<!--		<appender-ref ref="CONSOLE" />-->
<!--	</root>-->

</log4j:configuration>
